{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Story VI</title>
        <style>
            body {
                background-color: black;
            }
        </style>
    </head>
    <body>
        <div class="bg">
            <span align="center">
            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 5%; font-style: italic; color: white;">Hello World!</h1>
                <form method="POST">
                    {% csrf_token %}
                    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: bold; line-height: 1%; color: white;">Enter New Status: {{ form.title }}</p>
                    <input type="submit" value="submit" style="font-family: Georgia, 'Times New Roman', Times, serif; color: white; background: black;">
                </form>
            </span>
            <br>
            <table style="border-color: color; text-align: center; background-color: black; color: white;" border="5%" width="75%" align="center">
                <tr>
                    <th>Status</th>
                    <th>Date and Time</th>
                </tr>
                {% for i in status %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.created_date }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>