.bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://66.media.tumblr.com/63f266a7dde674ab79dd6d43e013155b/tumblr_p8vabxkh5W1tapxjpo1_400.jpg");
}